.home{
    overflow-x: hidden;
    width: 100%;
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    padding: 2em ;
} 
 .middle{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    


} 
hr{
    height: 0.12em;
    width: 60%;
    margin: auto;
    border-width: 0;
    background-color: hsl(0, 0%, 75%);
}
 .left-box{
    justify-content: center;
    flex: 1;
    display: flex;
} 
 .right-box{
    /* margin: auto auto; */
    flex: 0.5;
    justify-content: center;
    align-items: center;
    display: flex;
} 

.left-box img{
    /* flex: 0.5; */
    width: 90%; 
    height: 70%;

} 

.about-us{
    /* display: flex;
    justify-content: space-between; */
    height: 80vh;
    padding: 10em 0;
}

.footer{
  display: flex;
  flex-direction: column;

  /* justify-content: space-around; */
  width:100%;
  background-color: hsl(0, 0%, 85%);
} 
.footer img{
    /* flex: 0.5; */
    padding-left: 10em;
    padding-top: 1em;
    width: 30%;

}
.footer p{
    
    text-align: center;

}
@media (max-width: 1135px) {
    .middle{
        flex-direction: column;
    }
    .left-box img{
        width: 100%;
        height: 100%;
        padding: 2em 0;
    }
    .left-box{
        width: 100%;
    }

    .right-box{
        width: 100%;
    }
    .footer img{
        /* flex: 0.5; */
        padding-left: 0.5em;
        width: 40%;
    
    }
    hr{
        width: 70%;
    }
}

@import url('https://fonts.googleapis.com/css?family=Mukta:700');
 * {
	 box-sizing: border-box;
}
 *::before, *::after {
	 box-sizing: border-box;
}

 button {
	 position: relative;
	 display: inline-block;
	 cursor: pointer;
	 outline: none;
	 border: 0;
	 vertical-align: middle;
	 text-decoration: none;
	 background: transparent;
	 padding: 0;
	 font-size: inherit;
	 font-family: inherit;
}
 button.learn-more {
	 width: 12rem;
	 height: auto;
}
 button.learn-more .circle {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: relative;
	 display: block;
	 margin: 0;
	 width: 3rem;
	 height: 3rem;
	 background: #282936;
	 border-radius: 1.625rem;
}
 button.learn-more .circle .icon {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 bottom: 0;
	 margin: auto;
	 background: #fff;
}
 button.learn-more .circle .icon.arrow {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 left: 0.625rem;
	 width: 1.125rem;
	 height: 0.125rem;
	 background: none;
}
 button.learn-more .circle .icon.arrow::before {
	 position: absolute;
	 content: '';
	 top: -0.25rem;
	 right: 0.0625rem;
	 width: 0.625rem;
	 height: 0.625rem;
	 border-top: 0.125rem solid #fff;
	 border-right: 0.125rem solid #fff;
	 transform: rotate(45deg);
}
 button.learn-more .button-text {
	 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	 position: absolute;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 padding: 0.75rem 0;
	 margin: 0 0 0 1.85rem;
	 color: #282936;
	 font-weight: 700;
	 line-height: 1.6;
	 text-align: center;
	 text-transform: uppercase;
}
 button:hover .circle {
	 width: 100%;
}
 button:hover .circle .icon.arrow {
	 background: #fff;
	 transform: translate(1rem, 0);
}
 button:hover .button-text {
	 color: #fff;
}
